body{
    background-color: rgb(22, 53, 121);
    height: 100%;
    width: 100%;
}

p{
    color: rgb(248, 248, 248);
    font-family: Arial, sans-serif;
    font-size: 25px;

}

a{
    background-color: rgb(247, 106, 13) ;
    border: 12px solid rgb(247, 106, 13) ;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}